# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

## Objectives: ##
- Understand the various processes involved in data science;
- Understand and list the popular languages in data science;
- Understand and list the popular libraries used by data scientists;
- Understand and list the popular tools used by data scientists;
- To get hands on experience with the popular libraries and tools in data science;

Some of the popular languages that Data Scientists use are:
1. Python;
2. SQL;
3. R;
4. Scala;
5. Julia;
6. Java;

Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib;
2. Numpy;
3. Sci-kit learn;
4. Seaborn;

| Data Science Tools |
| -------------------|
| MYSQL|
| Git Hub |
| R Studio |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [ ]:
# This will convert 200 minutes to hours by diving by 60
(200/60)

3.3333333333333335

## Author:
Vasudev Karanth